* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
/* Common */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    border-radius: 99px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    color: #000958;
    line-height: var(--height);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;

    transition: 0.2s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0 0 0 2px rgb(0, 9, 88);
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.header.fixed {
    position: sticky;
    top: -18px;
    z-index: 1;
}

/* Header */

.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 8px 18px;
    transition: 0.2s;
    color: #5e6085;
}

.navbar__link:hover,
.header-action__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;

    min-width: 117px;
}

/* hero */
.hero {
    padding-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

/* hero media */

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: #fe997b;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid #f7dddf;
    margin: 0 0 -56px -24px;
}

.hero__list {
    position: absolute;
    bottom: 0px;
    left: 129px;
    padding: 18px 14px;
    background: #ffffff;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px #cfae8440;
}

.hero-list__item {
    display: flex;
}

.hero-list-item__thumb {
    background: #fec23f;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #181e52;
}

.hero-list-item__skeleton {
    margin-top: 7px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 99px;
    opacity: 0.08;
    background: #000958;
}

.hero-list-item__separate {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #f2f2f2;
    border-radius: 99px;
}

.hero-list__item:nth-of-type(2) .hero-list-item__thumb {
    background: #c6e2fa;
}

/* hero content */
.hero__content {
    max-width: 517px;
}

.hero__heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    color: #000958;
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #656689;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.btn-primary {
    color: #ffffff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.hero__cta-btn {
    --height: 60px;
    min-width: 189px;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px #ff5b2e6b;
}

.btn__icon {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px #bf290066;
}

.hero__cta-link {
    margin-left: 24px;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
    color: #000958;
}
